body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(44, 43, 43);
}
#backdrop {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	background-color: #1e222b;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}
.particles-js-canvas-el {
	position: fixed;
	z-index: -1;
	right: 20px;
}
#all-wrapper {
	display: flex;
	position: absolute;
	top: 70vh;
	flex-direction: column;
	width: 100vw;
	height: 10vh;
	align-self: flex-start;
	justify-content: center;
	align-items: center;
	border-radius: 15px 15px;
}
#name {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 10vh;
}
#me {
	height: 14vh;
	width: 14vh;
	border-radius: 128px 128px;
}
#main-imgs {
	display: flex;
	margin-top: 10vh;
	align-items: center;
	justify-content: space-between;
}
#main-imgs > a > img {
	max-height: 120px;
	max-width: 120px;
}
#linkedinlogo {
	margin-left: 2vw;
}
#email {
	margin-left: 2vw;
}
@media only screen and (max-width: 1200px) {
	#all-wrapper > #main-imgs a > img {
		height: 64px;
		width: 64px;
	}
}
@media only screen and (max-height: 720px) {
	#all-wrapper > #main-imgs > a > img {
		height: 64px;
		width: 64px;
	}
}
#skills {
	display: flex;
	margin-top: 10%;
	width: 100vw;
	justify-content: space-evenly;
}
#skills > img {
	max-height: 12vh;
	max-width: 12vw;
	-ms-flex-align: center;
}
#project-header {
	font-size: 4vw;
	color: white;
	margin-top: 20vh;
}
#projects {
	display: flex;
	width: 100vw;
	margin-top: 5vh;
	justify-content: space-evenly;
}
.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 14vw;
	height: 14vh;
	background-color: white;
	border-radius: 64px 64px;
}
.project-images > img {
	max-width: 11vw;
	max-height: 11vh;
}
#desc-wrapper {
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: space-evenly;
	margin-top: 1vh;
	padding-bottom: 5vh;
}
.desc-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 14vw;
	height: 7vh;
	background-color: white;
	border-radius: 64px 64px;
}
.project-desc {
	font-size: 1.2vw;
}
